.main{
    margin: 0 auto;
    width: 860px;
}
input, select{
    font-family: 'Paperlogy', sans-serif;

}
/*제목 부분*/
#market_register_head, #market_register_body, #market_register_bottom{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px; 
}

#market_register_head{
    height: 7vh;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


#market_register_head h3{
    font-size: 30px;
    margin: auto 0;
}

#market_register_head em{
    color: var(--red);
    font-size: 45px;
    font-weight: 500;
    margin-right: 10px;
}

/*form*/
#market_register_body{
    display: flex;    
    flex-direction: column;
}
.mkt_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}
.mkt_form_title{
    border-bottom: 1px solid var(--blue);
    line-height: 60px;
    margin-top:10px;
}
.mkt_form_title input{
    border:none;
    font-size: 20px;
    width: 100%;
    background: transparent;
    padding-left: 10px;
}
/*두번째 줄*/
.market_register_small{
    /* border-bottom: 1px solid var(--blue); */
    display: flex;
    gap: 20px;
    height: 80px;
    align-items: center;
    padding: 0 10px;
    font-weight: 500;
}
.market_register_small select, 
.market_register_small input,
.market_register_form input{
    border: 1px solid #ddd;
    height: 43px;
    border-radius: 10px;
    width: 120px;
}
.market_register_small input{
    width: 150px;
}
.mkt_price_tag{
    display:flex;
    gap:10px;
}
.mkt_price_tag select{
    width: 50px;
    padding-left: 10px;
}
.market_form_sub{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.market_form_sub h3{
    font-size: 14px;
}
/*세번째 줄*/
.market_register_form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px
}
.market_register_form h3{
    font-size: 14px;
    font-weight: 500;
}

.mkt_loca_img input{
    width: 79%;
}
.mkt_form_img{
    display: flex;
    gap:10px;
    align-items: center;
}

#mkt_explanation{
    border: none;
    width: 100%;
    height: 40vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
}

.market_register_bottom{
    display: flex;
    justify-content: center;
    gap:20px;
    height: 10vh;
    align-items: center;
    margin-top: 20px;
}

.market_register_enroll_btn, .market_register_list_btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.market_register_enroll_btn{
    background-color: var(--red);
}

.market_register_list_btn{
    background-color: var(--blue);
}
.market_register_list_btn >p {
    line-height: 40px;
    font-weight: 300;
    color:white;
    text-align: center;
}
.market_register_enroll_btn:hover, .market_register_list_btn:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

