{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urabi</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/Urabi_logo.svg' %}">
  <link rel="stylesheet" href="{% static 'reset.css' %}">
  <link rel="stylesheet" href="{% static 'base_css/base.css' %}">
  <link rel="stylesheet" href="{% static 'main/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/mainbeforeLogin.css' %}">
  {% block head %} {% endblock %}
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header class="header">
      <div class="header-container">
      <div class="logo"><img width="150" src="{% static 'img/logo.png' %}"></div>
      <nav class="nav">
        <a href="#">장기 동행</a>
        <a href="#">번개 모임</a>
        <a href="#">숙소 후기</a>
        <a href="#">나눔 마켓</a>
        {% block header_content %}
        <a id="myPage"href="#">My Page</a>
        {% endblock %}
      </nav>
      </div>
    </header>

    <!-- Main -->
    <main class="main">
      {% comment %} <section></section> {% endcomment %}
      {% block content %}
      {% endblock %}
            
      {% comment %} <section></section> {% endcomment %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-menu">
        <a href="#">장기동행</a> | 
        <a href="#">번개모임</a> | 
        <a href="#">숙소후기</a> | 
        <a href="#">나눔마켓</a> | 
        <a href="#">MyPage</a>
      </div>
      <div class="copyright">
        © 2025 Urabi. All rights reserved.
      </div>
    </footer>

    <button class="chat-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M16 4C9.373 4 4 9.373 4 16c0 2.165.572 4.193 1.573 5.945a1 1 0 0 1 .094.77l-1.439 5.059l5.061-1.44a1 1 0 0 1 .77.094A11.94 11.94 0 0 0 16 28c6.628 0 12-5.373 12-12S22.628 4 16 4M2 16C2 8.268 8.268 2 16 2s14 6.268 14 14s-6.268 14-14 14c-2.368 0-4.602-.589-6.56-1.629l-5.528 1.572A1.5 1.5 0 0 1 2.06 28.09l1.572-5.527A13.94 13.94 0 0 1 2 16m8-3a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2H11a1 1 0 0 1-1-1m1 5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2z"/></svg>
    </button>
  </div>

  <script>
    const chatButton = document.querySelector('.chat-btn');
    const footer = document.querySelector('.footer');

    window.addEventListener('scroll', () => {
      const footerTop = footer.getBoundingClientRect().top;
      const windowHeight = window.innerHeight;
      
      if (footerTop < windowHeight) {
        chatButton.style.bottom = `${windowHeight - footerTop + 20}px`;
      } else {
        chatButton.style.position = 'fixed';
        chatButton.style.bottom = '20px';
      }
    });
  </script>
</body>
</html>
