{% extends 'base/base.html' %}
{% load static %}

{% block head%} 
<link rel="stylesheet" href="{% static 'market/market_create.css' %}">
{% endblock %}

{% block content%}
<section id="market_register_head">
    <h3><em>나눔 마켓</em> 물건 등록하기</h3>
</section>
<section id="market_register_body">
    <form method="POST" action="{% url 'market:market_create' %}" enctype="multipart/form-data">
        {% csrf_token %} 

        <div class="market_register_form">
            <h3>제목</h3>
            {{ form.title}}
        </div>
        <div class="market_register_form">
            <h3>거래 상태</h3>
            {{ form.status}}
        </div>
        <div class="market_register_form">
            <h3>거래 방식</h3>
            {{ form.trade_type}}
        </div>
        <div class="market_register_form">
            <h3>카테고리</h3>
            {{ form.category}}
        </div>
        <div class="market_register_form">
            <h3>거래 장소</h3>
            {{ form.city}}
        </div>
        <div class="market_register_form">
            <h3>가격</h3>
            {{form.price}}
            {{form.currency_unit}}
        </div>
        <div class="market_register_form">
            <h3>사진</h3>
            {{ form.photo}}
        </div>
        <div class="market_register_form" id="market_register_description_container">
            <h3>설명 추가</h3>
            {{ form.explanation }}
        </div>
        <div class="market_register_bottom">
            <button type="submit" class="market_register_enroll_btn">등록하기</button>
            <a href="{% url 'market:market_list' %}" class="market_register_list_btn"><p>목록</p></a>
        </div>
    </form>
</section>
{% endblock %}

{%block js%}
<script>
    document.querySelector('form').addEventListener('submit',function(event){
        const price = parseFloat(document.querySelector('input[name="price"]').value);

        if (price <= 0){
            event.preventDefault();
            alert('가격은 0보다 커야합니다.');
        }
    });
</script>

{%endblock js%}