{% extends 'base/base.html' %}
{% load static %}

{% block head%} 
<link rel="stylesheet" href="{% static 'market/market_list.css' %}">
{% endblock %}


{% block content%}
<section id="market_search">
    <h1 class="market_title">필요한 순간, 따뜻한 <em>나눔 마켓</em></h1>
    <form method="GET" id="market_search_bar">
        {% csrf_token %}
        <div class="market_search_content">
            <div class="market_search_title">
                <h1>거래 현황</h1>
                {{filterset.form.status}}
            </div>
            <div class="market_search_title">
                <h1>거래 유형</h1>
                {{filterset.form.trade_type}}
            </div>
            <div class="market_search_title">
                <h1>카테고리</h1>
                {{filterset.form.category}}
            </div>
            <div class="market_search_title">
                <h1>장소</h1>
                {{filterset.form.city}}
            </div>
            <div class="market_search_title">
                <h1>검색</h1>
                {{filterset.form.title}}
            </div>
        </div>
        <button type="submit" class="market_search_btn">
            <img src="/static/img/search_icon.svg" width="60">
        </button> 
    </form>
</section>

<section id="market_body">
    <div class="market_list_container">
        <div class="market_list_total_title">
            <h1>전체 글 목록</h1>
            <div class="market_list_info">
                <h3>"거래 중"인 <p>#태그</p> 관련 게시글입니다</h3>
                <form method='GET' action="{% url 'market:market_list' %}">
                    <select name="items_per_page" id="market_list_count" onchange="this.form.submit()">
                        <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10개씩</option>
                        <option value="15" {% if items_per_page == 15 %}selected{% endif %}>15개씩</option>
                    </select>
                </form>
                <a href="{% url 'market:market_create' %}" class="market_add">
                    <button><img src="/static/img/market_add_icon.svg" ></button>
                    <butoon class="market_add_text">등록하기</butoon>
                </a>

            </div>
        </div>
        <table class="market_list">
            <thead class="market_list_title">
                <tr>
                    
                    <th>거래 유형</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody >
                {% for market_item in markets %}
                
                    <tr class="market_list_section">
                        <td class="market_icon_table"><a href="{% url 'market:market_detail' market_item.pk %}">{{market_item.get_trade_type_display}}</a></td>
                        <td class="market_list_item"><a href="{% url 'market:market_detail' market_item.pk %}">{{market_item.title}}</a></td>
                        <td class="market_list_item"><a href="{% url 'market:market_detail' market_item.pk %}">{{market_item.created_at|date:"Y-m-d"}}</a></td>
                        <td class="market_list_item"><a href="{% url 'market:market_detail' market_item.pk %}">{{market_item.user}}</a></td>
                    </tr>
                
                {% empty %}
                <tr>
                    <td colspan="9">등록된 거래가 없습니다.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="page_number"> 
        {% if markets.paginator.num_pages > 1 %}
            {% for num in markets.paginator.page_range %}
                {% if num == markets.number %}
                    <strong class="active-page">{{ num }}</strong>
                {% else %}
                    <a href="?page={{num}}&items_per_page={{ items_per_page}}&{{request.GET.urlencode}}">{{num}}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}