{% extends 'base/base.html' %}
{% load static %}

{% block head%} 
<link rel="stylesheet" href="{% static 'market/market_detail_guest.css' %}">
{% endblock %}

{% block content%}
<div class="market_detail_head">
    <div class="market_detail_head_group">
        <a class="market_link">나눔 마켓 ></a>
        <a class="market_detail_link" href="#">상세 정보 </a>
    </div>
    <div class="market_detail_title">
        <div class="market_detail_title_info">
            <h1>샤워 헤드 판매합니다</h1>
            <div class="market_detail_tag">
                <p id="market_detail_cate">#생활용품</p>
                <p id="market_detail_loca">영국 런던</p>
                <p>거래 중</p>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
        </svg>
    </div>
    <div class="market_detail_mid_title">
        <div class="market_detail_profile">
            <p>닉네임 </p>
            <p class="market_detail_temp">36.5℃</p>
        </div> 
        <div class="market_detail_tradeWay">
            <img src="/static/img/selling_icon.svg">
            <p>판매해요</p>
        </div>
        <p class="market_deatil_date">25.01.29</p>
    </div>
</div>
<div class="market_detail_body">
    <img src="/static/img/main_background.png">
    <div class="market_detail_body_right">
        <div class="market_detail_trade_location">
            <h3>거래 장소</h3>
            <p>221B Baker Street, London, NW1 6XE, United Kingdom</p>
        </div>
        <div class="market_detail_price">
            <h3>가격</h3>
            <p>25,000원</p>
        </div>
        <div class="market_detail_description">
            <p>본문<br>어쩌구 저쩌구<br> 왤캐 어렵니</p>
        </div>
    </div>
</div>
{% block edit_content%}
<div class="market_detail_bottom">
    <div class="market_detail_chat_btn">
        <img src="/static/img/chat_icon.svg">
        <p>채팅하기</p>
    </div>
</div>
{% endblock %}
{% endblock %}