#main_LogIn{
    background-color: var(--red);
    border-radius: 16px;
    color: white;
    margin : 0;
}
#main_LogIn:hover{
    background-color: white;
    color : var(--red);
    border: 1.5px solid var(--red);
}
.main_join {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    }
.main_join:hover {
    color: var(--blue);
    }