{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accommodation/accommodation_location.css' %}">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZLQne-DOUQDfifh3ZP_79TmL2OmBOI7k&libraries=places&callback=initMap"></script>
    <script defer src="{% static 'accommodation/accommodation_map_list.js' %}"></script>
{% endblock %}

{% block content %}
<div class="location-container">
    <div class="accommodation-list">
        {% for review in reviews %}
        <div class="accommodation-card" data-title="{{ review.accommodation_name }}" data-city="{{ review.city }}" data-review-id="{{ review.review_id }}">
            <div class="card-left">
                <div class="hotel-image">
                    <img id="place-img-{{ review.review_id }}" src="https://via.placeholder.com/300" alt="숙소 이미지">
                    <div class="rating">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= review.rating %}
                                <img src="{% static 'img/fill_star.png' %}" alt="별점">
                            {% else %}
                                <img src="{% static 'img/empty_star.png' %}" alt="별점">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="hotel-info">
                    <div class="hotel-title">{{ review.accommodation_name }}</div>
                    <div class="hotel-address">{{ review.city }}</div>
                    <p class="review-content">{{ review.content }}</p>
                </div>
                <a href="{% url 'accommodation:accommodation_review_detail' review.review_id %}" class="view-review-btn">후기 보기</a>
            </div>
        </div>
        {% empty %}
        <p>등록된 숙소 후기가 없습니다.</p>
        {% endfor %}        
    </div>

    <div class="map-section">
        <div id="map"></div>
        <input id="search-bar" type="text" placeholder="장소를 검색하세요">
    </div>
</div>


{% endblock %}