{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accommodation/accommodation_create.css' %}">
{% endblock %}

{% block content %}
<div class="review-container">
    <div class="review-main-header">
        <div>다음 여행자를 위한 작은 안내서, <span class="header-strong">숙소 후기</span></div>
        <p>> {{ parent_review.accommodation_name }} 후기 작성</p>
    </div>

    <form class="review-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="review-header">
            <div class="user-info">
                <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'img/default-profile.png' %}{% endif %}" alt="">
                <span>{{ request.user.nickname }}</span>
            </div>
            <div class="review-header-right">
                <div id="rating" class="stars">
                    <input type="hidden" name="rating" id="rating-value" value="0">
                    {% for i in "12345"|make_list %}
                    <img src="{% static 'img/empty_star.png' %}" alt="별점" data-rating="{{ forloop.counter }}">
                    {% endfor %}
                </div>
                <div id="add-img">
                    <label for="accommodation-img">
                        <img src="{% static 'img/addimg_icon.png' %}" alt="Add Image">
                    </label>
                    <input type="file" id="accommodation-img" name="photo" accept="image/*" style="display: none;">
                </div>
            </div>
        </div>
        <div class="textarea-section">
            <textarea name="content" id="review" rows="5" placeholder="후기를 작성해주세요!" required></textarea>
        </div>
        <button type="submit" class="submit-button">후기 등록하기</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // 별점 기능
    const stars = document.querySelectorAll('#rating img');
    const ratingInput = document.getElementById('rating-value');
    
    stars.forEach(star => {
        star.addEventListener('click', function() {
            const rating = this.dataset.rating;
            ratingInput.value = rating;
            
            stars.forEach(s => {
                if (s.dataset.rating <= rating) {
                    s.src = "{% static 'img/fill_star.png' %}";
                } else {
                    s.src = "{% static 'img/empty_star.png' %}";
                }
            });
        });
    });

    document.getElementById('accommodation-img').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const newPreview = document.createElement('img');
        newPreview.classList.add('preview-img');
        
        const container = document.getElementById('add-img');
        const existingPreview = container.querySelector('.preview-img');
    
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                newPreview.src = e.target.result;
                if (existingPreview) {
                    existingPreview.replaceWith(newPreview);
                } else {
                    container.appendChild(newPreview);
                }
            };
            reader.readAsDataURL(file);
        }
    });
})

</script>
{% endblock %}