{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accommodation/accommodation_reviewdetail.css' %}">
{% endblock %}

{% block content %}
<div class="accommodation-detail-container">
    <div class="detail-header">
        <h2>다음 여행자를 위한 작은 안내서, <span class="header-strong">숙소 후기</span></h2>
        <p> > 상세 정보</p>
    </div>
    <div class="detail-info">
        <div class="detail-info-header">
            <div class="detail-info-title">{{ review.city }} {{ review.accommodation_name }}</div>
            <span class="rating">⭐ {{ average_rating }}</span> 
            <button>
                <img src="{% static 'img/heart_icon.png' %}" alt="Favorite" class="favorite-icon">
            </button>
        </div>
        <div class="search-container">
            {% comment %} <button>
                <img src="{% static 'img/search-icon.svg' %}" alt="찾기" class="search-icon">
            </button> {% endcomment %}
            <p class="review-count">{{ review_count }}개의 리뷰</p>
        </div>

        <div class="reviews">
            {% for review_item in page.object_list %}
            <div class="review">
                <div class="review-header">
                    <a href="{%url 'users:user_detail' review_item.user.id%}">
                        <span class="review-profileimg"><img src="{% static 'img/default-profile.png' %}" alt=""></span>
                        <span class="review-author">{{ review_item.user.nickname }}</span>
                    </a>
                    <span class="review-rating">⭐ {{ review_item.rating }}</span>
                    <button class="review-heart">
                        <img src="{% static 'img/heart_icon.png' %}" alt="Favorite" class="favorite-icon">
                    </button>
                </div>
                <div class="review-content">
                    <p class="review-text">{{ review_item.content }}</p>
                    {% if review_item.photo %}
                    <div class="review-image">
                        <img style="max-height: 350px;"src="{{ review_item.photo.url }}" alt="Review Image">
                    </div>
                    {% endif %}
                </div>
                <button class="reply-button">댓글 달기 ></button>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page.object_list %}
              <a href='?page=1';>&laquo; 처음으로</a>
              {% for num in page.paginator.page_range %}
                  {% if num >= page.number|add:'-2' and num <= page.number|add:'2' %}
                      {% if page.number == num %}
                          <button class="now">{{ num }}</button>
                      {% else %}
                          <button onclick="window.location.href='?page={{ num }}';">{{ num }}</button>
                      {% endif %}
                  {% endif %}
              {% endfor %}
              <a href='?page={{ page.paginator.num_pages }}';>마지막으로 &raquo;</a>
            {% else %}
                <button class="now">1</button>
            {% endif %}
          </div>
        
        <div class="action-buttons">
            <button class="write-review-button" onclick="location.href='{% url 'accommodation:accommodation_review_create' review.pk %}'">후기 작성하기</button>
            <button class="navigate-button" onclick="location.href='{% url 'accommodation:filter' %}'">목록으로</button>
        </div>
    </div>
</div>
{% endblock %}
