<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urabi</title>
  <link rel="stylesheet" href="{% static 'reset.css' %}">
  <link rel="stylesheet" href="{% static 'base_css/base.css' %}">
  <link rel="stylesheet" href="{% static 'register/register.css' %}">
  <script>
    function previewProfilePicture(event) {
      const reader = new FileReader();
      reader.onload = function() {
        const preview = document.getElementById('profile-picture-preview');
        preview.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header class="header">
      <div class="header-container">
      <div class="logo">
        <a href="{%url 'users:home' %}">
          <img width="150" src="{% static 'img/logo.png' %}">
        </a>
        <p>여행을 함께하는 동행 서비스</p>
      </div>
      <nav class="nav">
      </nav>
      </div>
    </header>

    <!-- Main -->
    <main class="main">
      <section class="register-section">
        <div class="registerForm-name">
          <h2>회원가입</h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
          <p>이미 회원이신가요?&nbsp;&nbsp;<a class="red" href="{%url 'users:login'%}">로그인</a></p>
        </div>
        <form class="register-form" method="POST" action="{% url 'users:signup' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="profile-picture-container">
            <img id="profile-picture-preview" class="profile-picture" src="{% static 'img/default-profile.png' %}" alt="Profile Picture">
            <label class="upload-button">
              <input type="file" id="profile-picture" name="profile-picture" accept="image/*" onchange="previewProfilePicture(event)">
            </label>
          </div>
          <label>
            <span class="labelName">이메일</span>
            <input placeholder="Email" type="email" id="email" name="email" required>
          </label>
          <label>
            <span class="labelName">비밀번호</span>
            <input  placeholder="Password" type="password" id="passw ord" name="password" required>
          </label>
          <label>
            <span class="labelName">비밀번호 확인</span>
            <input placeholder="Password" type="password" id="confirm-password" name="confirm-password" required>
          </label>
          <label>
            <span class="labelName">이름</span>
            <input placeholder="Name" type="text" id="name" name="name" required>
          </label>
          <label>
            <span class="labelName">닉네임</span>
            <input placeholder="Nickname" type="text" id="nickname" name="nickname" required>
          </label>
          <label>
            <span class="labelName">생일</span>
            <div class="birthday-inputs">
              <input type="text" id="birth-year" name="birth-year" placeholder="년" required>
              <input type="text" id="birth-month" name="birth-month" placeholder="월" required>
              <input type="text" id="birth-day" name="birth-day" placeholder="일" required>
            </div>
          </label>
          <label>
            <span class="labelName">휴대폰</span>
            <input placeholder="Phone" type="tel" id="phone" name="phone" required>
          </label>
          <label>
            <span class="labelName">성별</span>
            <select id="gender" name="gender" required>
              <option value="male">남성</option>
              <option value="female">여성</option>
            </select>
          </label>
          <div class="button-container">
            <button type="submit">회원가입</button>
          </div>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-menu">
        <a href="#">장기동행</a> | 
        <a href="#">번개모임</a> | 
        <a href="#">숙소후기</a> | 
        <a href="#">나눔마켓</a> | 
        <a href="#">MyPage</a>
      </div>
      <div class="copyright">
        © 2025 Urabi. All rights reserved.
      </div>
    </footer>

    <button class="chat-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M16 4C9.373 4 4 9.373 4 16c0 2.165.572 4.193 1.573 5.945a1 1 0 0 1 .094.77l-1.439 5.059l5.061-1.44a1 1 0 0 1 .77.094A11.94 11.94 0 0 0 16 28c6.628 0 12-5.373 12-12S22.628 4 16 4M2 16C2 8.268 8.268 2 16 2s14 6.268 14 14s-6.268 14-14 14c-2.368 0-4.602-.589-6.56-1.629l-5.528 1.572A1.5 1.5 0 0 1 2.06 28.09l1.572-5.527A13.94 13.94 0 0 1 2 16m8-3a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2H11a1 1 0 0 1-1-1m1 5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2z"/></svg>
    </button>
  </div>

  <script>
    const chatButton = document.querySelector('.chat-btn');
    const footer = document.querySelector('.footer');

    window.addEventListener('scroll', () => {
      const footerTop = footer.getBoundingClientRect().top;
      const windowHeight = window.innerHeight;
      
      if (footerTop < windowHeight) {
        chatButton.style.bottom = `${windowHeight - footerTop + 20}px`;
      } else {
        chatButton.style.position = 'fixed';
        chatButton.style.bottom = '20px';
      }
    });
  </script>
</body>
</html>
