{% extends "base/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accompany/accompany_detail.css' %}">
  <link rel="stylesheet" href="{% static 'accompany/accompany_map.css' %}">
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZLQne-DOUQDfifh3ZP_79TmL2OmBOI7k&libraries=places&callback=initMap"></script>
{% endblock %}

{% block content %}
<section class="filter">
  <div class="banner-filter">
    <form class="filter-form">
      <div class="filter-group">
        <input type="text" id="city" name="city" placeholder="도시" value="{{ object.city }}">
      </div>
      <div class="filter-group">
        <select id="gender" name="gender">
          <option value="">전체</option>
          <option value="mixed">혼성</option>
          <option value="male">남성만</option>
          <option value="female">여성만</option>
        </select>
      </div>
      <div class="filter-group">
        <input type="date" id="start-date" name="start-date" placeholder="시작일" value="{{ object.start_date|date:'Y-m-d' }}">
      </div>
      <div class="filter-group">
        <input type="date" id="end-date" name="end-date" placeholder="종료일" value="{{ object.end_date|date:'Y-m-d' }}">
      </div>
      <div class="filter-group">
        <input type="number" id="age" name="age" placeholder="나이">
      </div>
      <button type="submit">검색</button>
    </form>
  </div>
</section>
<section class="map">
  <div class="map-container">
    <div id="map"></div>
  </div>
</section>

<section class="detail">
  <div class="detail-header">
    <h2>{{ object.title }}</h2>
    <div class="header-btns">
      {% if user != object.created_by %}
        <button class="btn ask">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 0 0 0-2 2v8a2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
          </svg>
          <span>문의하기</span>
        </button>
        <button class="zzim-btn" data-travel-id="{{ object.travel_id }}">
          {% if object in zzim_items %}
              <svg class="heart-icon filled red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
              </svg>
          {% else %}
              <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg>
          {% endif %}
        </button>
      {% else %}
      <a href="{% url 'accompany:accompany_update' object.travel_id %}">
      <button class="btn ask">
        <span>수정하기</span>
      </button>
      </a>
      <span id="add-participant" href=""> + </span>
      {% endif %}
    </div>
  </div>
  <div class="participants">
    <div class="profile">
      <img src="https://www.w3schools.com/w3images/lights.jpg" width="30" height="30" alt="profile">
      <span class="writer">{{ object.created_by }}</span>
      <span class="temperature">36.5°C</span> 
      <span class="blue">&nbsp;|&nbsp;</span> 
      <span class="created_at">{{ object.created_at|date:'Y-m-d' }}</span>
    </div>
    <div class="members">
      <span>{{ object.now_member }}/{{ object.max_member }}</span>
      <button id="toggleMembers">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </button>
      <ul id="memberList" style="display: none;">
        <li><span>{{ user.email }}</span><span>🚩</span></li>
        {% for member in participants %}
          <li data-user-id="{{ member.user.id }}"><span>{{ member.user.email }}</span><button class="red part-del-btn">x</button></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="detail-content">
    <div class="texts">
      <p>
        {{ object.explanation|linebreaksbr }}
      </p>
    </div>
    <div class="tags">
      <ul>
        {% if object.tags %}
        {% for tag in tags %}
          <li>#{{ tag }}</li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="imgs">
      {% if object.photo %}
      <img src="{{ object.photo.url }}" alt="photo">
      {% endif %}
    </div>
  </div>
  <div class="detail-footer">
    {% if user == object.created_by %}
    <form action="{% url 'accompany:accompany_delete' object.travel_id %}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
      {% csrf_token %}
      <button class="del-btn" type="submit">삭제</button>
    </form>
    {% endif %}
    <a href="{% url 'accompany:accompany_list' %}">
    <button class="to-back">
      <span>목록으로</span>
    </button>
      </a>
  </div>
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
</section>
{% endblock %}

{% block js %}
<script>
  document.getElementById('toggleMembers').addEventListener('click', function() {
      var memberList = document.getElementById('memberList');
      if (memberList.style.display === 'none') {
          memberList.style.display = 'block';
          this.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>';
      } else {
          memberList.style.display = 'none';
          this.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>';
      }
  });

  // 마커와 폴리라인 데이터를 가져와서 지도에 표시
  function initMap() {
        const mapData = {
        markers: {{ object.markers|safe }},
        polyline: {{ object.polyline|safe }}
    };

    let center = { lat: 37.5665, lng: 126.9780 }; // 기본 위치 (서울)

    if (mapData.markers.length > 0) {
        center = { lat: mapData.markers[0].lat, lng: mapData.markers[0].lng }; // 첫 번째 마커 위치
    }

    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center
    });

    // 마커 추가
    mapData.markers.forEach(markerData => {
      new google.maps.Marker({
        position: { lat: markerData.lat, lng: markerData.lng },
        map: map,
        title: markerData.title
      });
    });

    // 폴리라인 추가
    const polylinePath = mapData.polyline.map(point => ({ lat: point.lat, lng: point.lng }));
    new google.maps.Polyline({
      path: polylinePath,
      geodesic: true,
      strokeColor: '#EF4141',
      strokeWeight: 2,
      map: map
    });
  }

window.initMap = initMap;

</script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/tippy.js@6/themes/light.css"
/>
<script>

  const modal = `
  <div id="add-participant-modal">
    <input type="text" id="search-email" placeholder="이메일 검색" />
    <ul id="userList">
        {% for user in users %}
            <li data-user-id="{{ user.id }}" class="user-item">
                {{ user.email }}
                <button class="add-btn" >+</button>
            </li>
        {% endfor %}
    </ul>
  </div>`;

tippy('#add-participant', {
  content: modal,
  placement: 'bottom-end',
  arrow: false,
  theme: 'light',
  trigger: 'click',
  interactive: true,
  allowHTML: true,
});


document.addEventListener('click', function(event) {
  if (event.target.matches('#add-participant')) {
    const searchInput = document.getElementById('search-email');
    const userItems = document.querySelectorAll('.user-item');
    
    if (searchInput && userItems) {
      // 이메일 검색 필터링 이벤트 추가
      searchInput.addEventListener('input', function() {
        var searchTerm = this.value.toLowerCase();
        
        userItems.forEach(function(item) {
          var email = item.textContent.toLowerCase();
          if (email.includes(searchTerm)) {
            item.style.display = 'flex';
          } else {
            item.style.display = 'none';
          }
        });
      });
    }
  }
});

document.addEventListener("click", function (event) {
  if (event.target.matches(".add-btn")) {
      const userId = event.target.closest("li").dataset.userId;  // 유저 ID 
      const travelId = "{{ object.travel_id }}";  // 현재 여행 그룹 ID 
      const csrfToken = document.getElementById("csrf_token").value; 

      fetch("{% url 'accompany:add_participant' %}", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
          },
          body: JSON.stringify({
              user_id: userId,
              travel_id: travelId,
          }),
      })
      .then(response => response.json())
      .then(data => {
          if (data.message) {
              alert(data.message);  // 성공 메시지 출력
              location.reload();  // 새로고침하여 참가자 목록 반영
          } else {
              alert(data.error);  // 오류 메시지 출력
          }
      })
      .catch(error => console.error("Error:", error));
  }
  if (event.target.matches(".part-del-btn")){
    const userId = event.target.closest("li").dataset.userId;  // 유저 ID 
    const travelId = "{{ object.travel_id }}";  // 현재 여행 그룹 ID 
    const csrfToken = document.getElementById("csrf_token").value; 

    fetch("{% url 'accompany:remove_participant' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify({
            user_id: userId,
            travel_id: travelId,
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);  // 성공 메시지 출력
            location.reload();  // 새로고침하여 참가자 목록 반영
        } else {
            alert(data.error);  // 오류 메시지 출력
        }
    })
    .catch(error => console.error("Error:", error));
  }
});

</script>
<script src="{% static 'accompany/zzim.js' %}"></script>
{% endblock js %}