{% extends "base/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{%static 'accompany/accompany_list.css'%}">
{%endblock%}

 {%block content%}

      <section class="banner-container">
        <div class="banner">
          <div class="banner-text">
            <h1>장기동행</h1>
            <p>새로운 만남, 끝없는 이야기</p>
            <p>지금 <span class="red">동행</span>을 찾아보세요.</p>
          </div>
          <div class="banner-filter">
            <p class="blue">취향 맞는 동행자를 골라보세요</p>
            <form method='GET' class="filter-form">
              {% csrf_token %}
              <div class="filter_contents filter_city">
                <div class="filter-group">
                  {{filterset.form.city}}
                </div>
                <div class="filter-group">
                  {{filterset.form.gender}}
                </div>
                <div class="filter-group">
                  {{filterset.form.start_date}}
                </div>
                <div class="filter-group">
                  {{filterset.form.end_date}}
                </div>
                <div class="filter-group filter_age">
                  {{filterset.form.age}}
                </div>
              </div>
              <button type="submit" class="filter_btn">검색</button>
            </form>
          </div>
          <p class="create_accompany"><a href="{% url 'users:user_list'%}">내 여정을 등록하고 함께할 친구를 찾아보세요</a></p>
        </div>
      </section>
      <section class="accompany-list">
        <div class="list-header">
          <h2>동행을 기다리는 여정들</h2>
          <button onclick="window.location.href=`{%url 'accompany:accompany_create'%}`">동행 모집하기</button>
        </div>
        <div class="list-main">
        {%for post in travelgroup_list%}
          <div class="card">
            <div class="card-image" style="cursor: pointer;"onclick="location.href='{% url 'accompany:accompany_detail' post.travel_id %}'">
              {%if post.photo %}
                <img width="150" height="120" src="{{post.photo.url}}" alt="여행 이미지">
                <p class="age-range">{%if post.min_age%}{{post.min_age}}{%endif%} ~ {%if post.max_age%}{{post.max_age}}{%endif%}{%if post.max_age or post.min_age%}세{%endif%}</p>
              {%endif%}
            </div>
            <div class="card-info">
              <div class="info-header">
                <h3 style="cursor: pointer;" onclick="location.href='{% url 'accompany:accompany_detail' post.travel_id %}'">{{post.title}}</h3>
                {%if user != post.created_by%}
                <button class="zzim-btn" data-travel-id="{{ post.travel_id }}">
                  {% if post in zzim_items %}
                      <svg class="heart-icon filled red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                  {% else %}
                      <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                      </svg>
                  {% endif %}
                </button>
                {%endif%}
              </div>
              <div class="info-date">
                <p>{{ post.start_date|date:"Y-m-d" }} ~ {{ post.end_date|date:"Y-m-d" }}</p>
                {%if not post.photo%}
                <span class="age-range no-img">{%if post.min_age%}{{post.min_age}}{%endif%} ~ {%if post.max_age%}{{post.max_age}}{%endif%}{%if post.max_age or post.min_age%}세{%endif%}</span>
                {%endif%}
              </div>
              <div class="info-user">
                <h3><a href="{%url 'users:user_detail' post.created_by.id%}">
                  <img class="profile-img" width="30" height="30"src="{{post.created_by.profile_image.url}}">{{post.created_by.nickname}}
                </a></h3>
                <div class="max-member"> {{post.now_member }} / {{post.max_member}}</div>
              </div>
              <div class="info-date">

              </div>
              <div class="info-contnet">
                {% if post.explanation|length > 10%}
                  <p>{{ post.explanation|slice:":15" }} ... </p>
                {%else%}
                  <p>{{ post.explanation }}</p>
                {%endif%}
              </div>
              {{group_tags}}
              <div class="tags">
                {%if post.tags%}
                  {% for tag in post.tags %}
                    <div class="tag"># {{tag}} </div>
                  {% endfor %}
                {%endif%}
              </div>
            </div>
          </div>
        {%endfor%}
        </div>

        <div class="pagination">
          {% if is_paginated %}
            <a href='?page=1';>&laquo; 처음으로</a>
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                    {% if page_obj.number == num %}
                        <button class="now">{{ num }}</button>
                    {% else %}
                        <button onclick="window.location.href='?page={{ num }}';">{{ num }}</button>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a href='?page={{ page_obj.paginator.num_pages }}';>마지막으로 &raquo;</a>
          {% else %}
              <button class="now">1</button>
          {% endif %}
        </div>
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
      </section>


  {%endblock%}
{%block js%}
<script src="{% static 'accompany/zzim.js' %}"></script>
{%endblock%}