@import '../base_css/base.css';
@import '../reset.css';
*{
    font-family: 'Paperlogy' !important; 
  }

  .mypage-wrap {
    display: flex; 
    max-width: 1200px;
    justify-content: center;
    margin: 50px auto
  }
  
  .mypage-nav {
    width: 180px;
    margin: 50px 40px 0 0;
  }
  
  .mypage-nav ul {
    list-style: none;
  }
  
  .mypage-nav li {
    font-size: 16px;
    margin-bottom: 16px;
    color: #000;
    cursor: pointer;
  }

  .mypage-nav li.active {
    color: var(--red);
    font-weight: bold;
  }
  .mypage-nav li a {
    text-decoration: none;
  }
  
  /********************************
    본문 시작 & 제목
  ********************************/
  .mypage-content {
    flex: 1;
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 20px; 
  }

  .main-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .section-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-header a{
    color: var(--red);
  }
  
/********************************
    지도
  ********************************/
  .map-container {
    margin-bottom: 20px;
    
  }

  /* 지도 이미지라고 했을때 - 나중에 수정해주기*/
  .mypage-content img{
    width: 90%;
    height: 30%;
    margin-bottom: 20px;
    max-height: 400px;
    object-fit: cover;
  }

  /********************************
    타임라인
  ********************************/
  .timeline {
    position: relative;
    margin-left: 30%;
    border-left: 2px solid black;
  }

  .timeline-item {
    margin-bottom: 20px;
    position: relative;
    margin-left: 30px;
  }

  .timeline-item:before {
    content: '';
    position: absolute;
    left: -37px;
    top: 0;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
  }

  .timeline-item{
    display: flex;
  }

  .date {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 15px;
  }

  .location-item{
    margin: 0 0 10px 30px;
  }
  .address-wrapper{
    margin: 0 0 10px 30px;
  }
  #location{
    display: none;
  }
  .marker_name_input{
    font-size: 1rem;
    border: none;
    padding: 3px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
  }
.address_delete_btn{
  padding: 2px 4px;
  background-color: var(--red);
  margin-left: 5px;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 8px;
}
#explanation{
  width: 100%;
  padding: 16px;
  font-size:18px;
  font-weight: 400;
}
#title, #city{
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 16px;
}
  /********************************
    공개 비공개 등록하기
  ********************************/
  .radio-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }

  .radio-group input[type="radio"] {
    display: none;
  }

  .radio-group label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    white-space: nowrap;
  }

  .radio-group svg {
    margin-right: 5px;
    width: 16px; 
    height: 16px;
  }

  .radio-group input[type="radio"]:checked + label{
    border-color: var(--red);
    color: var(--red);
  }

  .radio-group svg {
    margin-right: 5px;
  }

  .register-btn {
    display: block;
    margin: 20px auto;
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Paperlogy';
  }

  .register-btn:hover {
    background-color: var(--red-hover);
    transition: all 0.3s ease;
  }