@import '../base_css/base.css';
@import '../reset.css';
*{
    font-family: 'Paperlogy' !important; 
  }

  .mypage-wrap {
    display: flex; 
    max-width: 1200px;
    justify-content: center;
    margin: 50px auto
  }
  
  .mypage-nav {
    width: 180px;
    margin: 50px 40px 0 0;
  }
  
  .mypage-nav ul {
    list-style: none;
  }
  
  .mypage-nav li {
    font-size: 16px;
    margin-bottom: 16px;
    color: #000;
    cursor: pointer;
  }

  .mypage-nav li.active {
    color: var(--red);
    font-weight: bold;
  }
  .mypage-nav li a {
    text-decoration: none;
  }
  
  .mypage-content {
    flex: 1;
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 20px; 
  }
  
  /********************************
    상단 닉네임 & 수정하기
  ********************************/
  .nickname-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 20px;
  }
  .nickname {
    font-size: 2rem;
    font-weight: 700;
    margin: 0; 
  }

  .nickname-wrap-left{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chatting-btn {
    background-color: var(--red);
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 10px;
  }

  .chatting-btn:hover {
    background-color: var(--red-hover);
    transition: all 0.3s ease;
  }
  
  /********************************
    제목 스타일 (프로필, 등록한 여행 일정, 활동 이력 등)
  ********************************/
  .sub-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 30px;
  }
  
  /********************************
    여권(프로필) 카드
  ********************************/
  .passport-card {
    width: 90%;
    height: 60%;
    position: relative;
    background: linear-gradient(90deg, #c9f1f1 0%, #ffe2e2 100%);
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto 40px auto;
    box-sizing: border-box;
  }
  .passport-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: var(--blue);
  }
  .passport-label {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .passport-country {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .passport-card-body {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .profile-photo {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
  }
  .travel-score {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .score {
    background-color: var(--yellow);
    color: #fff;
    padding: 8px 10px;
    border-radius: 20px;
  }
  .info-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info-row {
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: 8px;
    align-items: center;
  }
  .info-item {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: 0.9rem;
    color: var(--blue);
    margin-bottom: 2px;
    font-weight: 500;
  }
  .value {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
  }
  
  /********************************
    "등록한 여행 일정" 섹션
  ********************************/
  .load-more-btn{
    background-color: var(--red);
    width: 200px;
    padding: 10px;
    color: #ffffff;
  }
  .load-more-btn:hover{
    background-color: var(--red-hover);
  }
  .schedule-section {
    margin-bottom: 40px;
  }
  .schedule-card {
    display: flex;
    flex: 1;
    background-color: #f3f3f3;
    border-radius: 12px;
    padding: 16px;
    align-items: center;
    gap: 16px;
    max-width: 600px;
  }
  .schedule-img {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .schedule-info {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .schedule-title {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .schedule-period {
    font-size: 14px;
    color: #555;
    margin: 0;
  }

  .schedule-location{
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .schedule-location img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  /********************************
    활동 이력 섹션
  ********************************/
  .text-hilight{
    color: var(--red);
  }

  .activity-none{
    text-align: center;
  }
  .activity-section {
    margin-bottom: 40px;
  }
  .activity-box {
    background-color: var(--darkgray);
    border-radius: 12px;
    padding: 30px 16px;
    margin-bottom: 20px;
  }
  .activity-header {
    font-size: 1.1rem;
    margin-bottom: 25px;
    text-align: center;
  }
  .activity-card {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 12px;
    align-items: center;
    gap: 16px;
    border: 1px solid #eee;
  }
  .activity-img {
    width: 200px;
    height: 120px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 5%;
  }


  .activity-info .activity-title{
    font-size: 1.2rem;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
  }
  .activity-date {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
  }
  .activity-etc {
    font-size: 14px;
    margin-top: 4px;
    color: #999;
  }

  .activity-review-header{
    display: flex;
    max-width: 500px;
  }

  .activity-review-title {
    display: inline-block;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .activity-review-type{
    background-color: var(--yellow);
    color: white;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin: 0 10px 10px 0;
    white-space: nowrap;
  }