@import '../base_css/base.css';
@import '../reset.css';

*{
    font-family: 'Paperlogy' !important; 
  }

.accommodation-detail-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.detail-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.detail-header h2 {
    font-size: 1.7rem;
}

.detail-header p{
    font-size: 1.3rem;
    margin-left: 20px;
}

.header-strong {
    color: var(--red);
}

.image-map {
    display: flex;
}

.accommodation-image {
    width: 60%;
}

.map-image{
    width: 40%;
}

/*==================
    사진 아래 제목 & 평점 & 하트 & 검색
====================*/
.detail-info {
    margin-top: 20px;
}

.detail-info-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.detail-info-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: auto;
    font-weight: bold;
}

.rating, .detail-info-header button {
    font-size: 1.6rem;
    margin-right: 20px;
}

.favorite-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-container {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.review-search {
    width: 100%;
    padding: 20px; 
    border: 1px solid darkgray;
    border-radius: 14px;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    right: 20px; 
    top: 40%; 
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

/*==================
   리뷰시작
====================*/

.review-count {
    margin-bottom: 10px;
    text-decoration: underline;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review {
    padding: 20px 30px;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.review-header {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
}
.review-header>a{
    display: flex;
    align-items: center;
}
.review-profileimg img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.review-author{
    margin-right: 15px;
}

.review-heart{
    margin-left: auto;
    margin-right: 20px;
}

/* 리뷰 내용 시작*/
.review-text {
    font-size: 1.1rem;
    color: #555;
    margin: 20px 0;
}

.review-image img {
    width: 50%;
    border-radius: 4px;
    margin-top: 10px;
}

.reply-button {
    background-color: var(--blue);
    margin-left: 85%;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
}

.reply-button:hover {
    background-color: #0056b3;
    transition: all 0.3s ease;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination-control {
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
}

/*==================
    아래 버튼
====================*/

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.navigate-button, .write-review-button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.navigate-button:hover, .write-review-button:hover {
    background-color: #0056b3;
    transition: all 0.3s ease;
}
.pagination{
    margin: 40px 0 30px;
    text-align: center;
  }
  .pagination>button{
    padding: 10px 14px;
  }
  .pagination>button:hover{
    background-color: var(--blue);
    color: #ffffff;
    border-radius: 20px;
  }
  .pagination>a{
    font-size: 14px;
    padding: 5px;
  }
  .pagination .now{
    background-color: var(--blue);
    color: #ffffff;
    border-radius: 20px;
  }