.main{
  margin: 0 auto;
  width: 860px;
}
.blue{
  color: var(--blue);
}
.red{
  color: var(--red);
}
.detail-header{
  position: relative;
}
#schedule_name{
  font-size: 24px;
  font-weight: 600;
}
.another-plan{
  margin: 10px;
}
.another-plan p{
  margin-bottom: 5px;
}
#planList{
  position: absolute;
  top: 15px;
  z-index: 10000;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid var(--blue);
}
#plan-selector{
  font-family: 'paperlogy';
  min-width: 100px;
  max-width: fit-content;
}
.membertoggle{
  width: max-content;
}
.banner-filter{
  font-weight: 500;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.filter-form {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-group input,
.filter-group select {
  background-color: var(--gray);
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--blue);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
} */

/*배경*/
#accompany_detail{
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.accompany_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15px;
}
.header_comment {
  font-size: 14px;
  color: #666;
}
.flash_divider {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

/*body*/

.map-container{
  width: 100%;
  height: 400px;
  background-color: aqua;
  position: relative;
}
.this-plan-info{
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: rgba(30, 136, 229, 0.7);
  padding: 8px;
  border-radius: 8px;
}
.detail{
  margin: 10px 0;
}
.detail-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.detail-header>h2{
  font-size: 24px;
  font-weight: 600;
}
.header-btns{
  display: flex;
  gap: 13px;
  justify-content: flex-end;
  align-items: center;
}
.zzim-btn{
  margin-top: 3px;
  margin-right: 2px;
}
.btn{
  display: flex;
  align-items: center;
  gap: 10px;
}

.participants{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile{
  display: flex;
  gap: 5px;
  align-items: center;
}
.profile>img{
  border-radius: 20px;
}
.profile .writer{
  font-weight: 600;
}
.profile .temperature{
  background-color: #FFD685;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 12px;
}
.members {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.members ul {
  list-style-type: none;
  padding: 0;
}
.members ul li {
  margin-bottom: 5px;
}
#memberList{
  padding: 10px 10px 5px;
  background-color: #ffffff;
  border: 1px solid var(--blue);
  position: absolute;
  top: 20px;
  right: 0;
}
#memberList li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.detail-content{
  margin: 10px 0;
}
.detail-content .texts{
  line-height: 1.5;
  font-size: 18px;
  min-height: 250px;
}
.detail-content .tags ul{
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.detail-content .tags ul li{
  background-color: var(--light-red);
  padding: 5px 10px;
  border-radius: 16px;
}
.imgs {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}
.imgs img {
  width: 100%;
  height: auto;
}
.detail-footer{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.tippy-content{
  max-height: 200px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  
}
#search-email{
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#userList{
  overflow-y: auto;
  max-height: 150px;
}
#userList li{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}


/*버튼*/
.btn.ask, .to-back{
  background-color: var(--red);
  color: white;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
}
.to-back{
  background-color: var(--blue);
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn.ask>svg{
  background-color: var(--red);
  color:white;
  transition: background-color 0.3s;
}

.btn.ask:hover, .btn.ask:hover>svg{
  background-color: var(--red-hover);
  color: #ffffff;
}
.to-back:hover, #add-participant:hover{
  filter: brightness(0.85);
  color: #ffffff;
}


.request-btn, .request-cancel-btn, .ing{
  padding: 8px 15px;
  background-color: var(--blue);
  border-radius: 8px;
  color:white;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.del-btn{
  background-color: var(--red);
  color: white;
  padding: 5px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  align-self: flex-end;
  transition: background-color 0.3s;
}
.del-btn:hover{
  background-color: var(--red-hover);
}


#add-participant{
  background-color: var(--blue);
  padding: 8px 10px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

