.main{
  margin: 0 auto;
  width: 860px;
}
.blue{
  color: var(--blue);
}
.red{
  color: var(--red);
}
.banner{
  height: 45px;
}
.banner h2{
  font-size: 28px;
  font-weight: 500;
}
.map-container{
  width: 100%;
  height: 400px;
  /* background-color: aqua; */
  position: relative;
}

.banner-filter{
  font-weight: 500;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.filter-form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title input{
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--blue);
  padding-left: 5px;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-group-first{
  display: flex;
  gap: 10px;
}
.filter-group-second{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--blue);
}
.filter_age input{
  width: 86px;
}

.filter-group input, .filter-group select{
  background-color: var(--gray);
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.update-image{
  display: flex;
  gap: 10px;
  align-items: center;
}
.file-upload svg{
  right: 0;
}
.file-upload svg:hover{
  cursor: pointer;
}
#max-member{
  width: 100px;
}
#image-name{
  right: 55px;
  width: 292px;
}
#image-upload{
  display: none;
}
#image-upload#file-upload-button{
  display: none;
}
.filter_location{
  padding-bottom: 10px;
  padding-left:2px;
  border-bottom: 1px solid var(--blue);
}
.filter_location label{
  padding: 0 2px;
  margin-right: 5px;
}
.filter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--blue);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}
.description{
  border-bottom: solid 1px var(--blue);
}
#description{
  min-height: 300px;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-family: 'Paperlogy';
}
#description:focus{
  outline: none;
}
.tags>span{
  min-width: 80px;
  font-size: 18px;
  font-weight: 400;
}
.filter-form>button{
  font-weight: 500;
  align-self: flex-end;
  width: 120px;
  background-color: var(--red);
}
.filter-form>button:hover{
  background-color: var(--red-hover);
}
.update-image>a, #photo-clear_id, .update-image #text{
  display: none;
}
.imgs {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}
.imgs img {
  width: 100%;
  height: auto;
}

.tags {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.tags .input_group {
  margin-top: 10px;
}

.tags .tag_input_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#tag_input {
  padding: 5px;
  width: 150px;
  background-color: var(--gray);
  font-family: 'Paperlogy';
  font-size: 14px;
  border: none;
}

#add_tag_btn {
  background-color: #FFD700;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tags .tag_list {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tags .tag_item {
  background-color: #FFE8AD;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tags .tag_remove_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: red;
  padding: 5px;
}


/*주소 입력창 추가*/
.address_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.address_input {
  width: 80%;
  padding: 5px;
  margin-right: 5px;
  background-color: var(--strong-gray);
  border-radius: 5px;
}

.address_delete_btn {
  background-color: white;
  color: black;
  border : 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.address_delete_btn:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}